@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(240, 232, 221);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: rgb(177, 15, 214);
  flex-wrap: wrap;
}

.logo {
  width: 120px; /* Smaller size */
  border-radius: 10px;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  padding: 0px 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #351bcb;
}

button {
  padding: 8px 20px;
  background-color: rgb(127, 10, 107);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(178, 23, 250, 0.8);
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  .logo {
    margin-bottom: 10px;
  }
}
